doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title
			| zaundef - slider
		link(type='text/css', rel='stylesheet', href='css/slider.css')
		link(type='text/css', rel='stylesheet', href='css/index.css')
		script(type='text/javascript', src='js/jquery-1.10.2.min.js')
		script(type='text/javascript', src='js/slider.min.js')
		script(type='text/javascript', src='js/index.js')
	body
		#slider.slider
			.slide_prev
			.slide_next
			.slides
				.slide
					h2
						| slide 1
				.slide
					h2
						| slide 2
				.slide
					h2
						| slide 3